#main-header {
    background-color: #333!important;
    .logo {
        align-items: center;
        color: #fff;
        display: flex;
        font-size: 32px;
        font-weight: 700;
        text-decoration: none;
        text-transform: uppercase;
        @media screen and (max-width: 768px) {        
            font-size: 26px;
            margin: 15px 0;
        }
        svg {
            width: 40px;
            margin-right: 15px;
        }
    }

    .MuiButtonGroup-root {
        button {
            border-color: rgba(255, 255, 255, 0.3);
            color: #fff;
            &:hover {
                background-color: rgba(255, 255, 255, 0.04);
            }
        }
    }
}
